*{
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(rgb(227, 226, 226),rgba(227, 226, 226));
    font-family: 'Kanit', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}
.containner{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 30px;
    min-width: 1000px;
    text-align: center;
}
.code-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.code{
    caret-color: transparent;
    background-color:  rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    border: 1px solid #eee;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    width: 50px;
    height: 50px;
    margin: 10px;
    text-align: center;
    font-weight: 300;
}
@media(max-width: 600px){
    .btn {
        min-width: 200px; 
    }
    .code-container{
        flex-wrap: wrap;

    }
    .code{
        font-size: 18px; 
        width: 40px; 
        height: 40px; 
    }
}
.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button{
    -webkit-appearance: none;

}

.code:valid{
    border-color: #9861c2;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);

}
.btn{
    font-family: 'Kanit', sans-serif;
    min-width: 300px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    margin: 0px 0px 20px 0px;
    padding: 0.775rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.7;

}
.btn-primary{
    color: #fff;
    background-color: #9861c2;
    border-color: #9861c2;

}
.btn:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease; 
}